
body{
  background: #1a1a1a;
  color: #a2a2a2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-top: 0;
  
  border-color: #5f0707;
  border-left: 2px #000000;
  text-shadow: 3px 3px 3px red;
}
body ul{
  padding-top: 0;
  margin: 0;
}
  body ul li{
    text-decoration: none;
    display: inline;
    padding: 10px;
    padding-top: 0;
    margin-top: 0;
    font-size: larger;
    place-content:inherit ;
   
  }
  .navbar{
    padding: 0;
    margin-top: 0;
    background: #000000 !important;
    box-shadow: 1px 1px 1px #5f0707;
    width: 100%;
    height: 20%;

  }
  body ul li:hover{
    text-shadow: 3px 3px 3px red;
  }
img {
  border: solid 2px crimson;
  border-radius: 18px;
  
}